{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["chrome >= 54"]
        },
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-2"
  ]
}
